body{
background-color: dodgerblue;
}
header{
  position: relative;
  text-align:center ;
  top: 150px;
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{

align-items: center;
text-align: center;
  display: block;
    margin: auto;
    border-radius: 20px;
    width: 500px;
    height: 450px;
    position: relative;
    top: 180px;   
background-color: aliceblue;
 box-shadow: 3px 3px 5px rgb(58, 58, 58);

}
footer{
position: relative;
text-align: center;
top: 200px;
font-style: italic;
font-size: 16px;
}
 img#img1{
  border: 30px;
  border-radius: 15px;
  position: relative;
  top: 65px;
box-shadow: 3px 3px 5px rgb(58, 58, 58);
}
div#d1{
font-size: 35px;
position: relative;
top: 30px;
font-family: g;

}